In [1]:
import pandas as pd
import numpy as np
import os

features_df = pd.read_csv('C:\\Users\\gmoor\\Documents\\REVISED CAPSTONE PROJECT\\Data\\new_sprectal_indices.csv')

In [2]:
features_df

,segment_type,segment_id,year,buffer_size,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
0,100m,1,2007,100,L7,0.137357,0.065126,-0.151509,0.058490,-0.034694,0.035111,low - lower,very low - upper,low - lower
1,100m,1,2007,200,L7,0.140460,0.062320,-0.158524,0.056740,-0.039217,0.043064,low - lower,very low - upper,low - lower
2,100m,1,2007,300,L7,0.139994,0.065387,-0.158123,0.058746,-0.037856,0.046744,low - lower,very low - upper,low - lower
3,100m,1,2008,100,L7,0.089838,0.060953,-0.110089,0.058429,-0.005116,0.028659,very low - upper,very low - upper,low - lower
4,100m,1,2008,200,L7,0.093755,0.062379,-0.117236,0.060360,-0.011231,0.039204,very low - upper,very low - upper,low - lower
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3099,200m,25,2021,300,L8,0.371926,0.146236,-0.410254,0.107261,-0.042540,0.102290,decent - lower,very low - lower,low - upper
3100,200m,25,2021,400,L8,0.405604,0.151734,-0.433184,0.107119,-0.057963,0.108778,decent - lower,very low - lower,low - lower
3101,200m,25,2022,200,L8,0.316048,0.152648,-0.374345,0.124995,-0.023364,0.095899,low - upper,very low - upper,low - upper
3102,200m,25,2022,300,L8,0.384971,0.170127,-0.426140,0.134250,-0.053961,0.109342,decent - lower,very low - lower,low - lower
3103,200m,25,2022,400,L8,0.422370,0.174462,-0.452960,0.133336,-0.068021,0.118126,decent - lower,very low - lower,low - lower

In [3]:
onehundred_features_df = features_df[features_df['segment_type'] == '100m']

onehundred_features_df

,segment_type,segment_id,year,buffer_size,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
0,100m,1,2007,100,L7,0.137357,0.065126,-0.151509,0.058490,-0.034694,0.035111,low - lower,very low - upper,low - lower
1,100m,1,2007,200,L7,0.140460,0.062320,-0.158524,0.056740,-0.039217,0.043064,low - lower,very low - upper,low - lower
2,100m,1,2007,300,L7,0.139994,0.065387,-0.158123,0.058746,-0.037856,0.046744,low - lower,very low - upper,low - lower
3,100m,1,2008,100,L7,0.089838,0.060953,-0.110089,0.058429,-0.005116,0.028659,very low - upper,very low - upper,low - lower
4,100m,1,2008,200,L7,0.093755,0.062379,-0.117236,0.060360,-0.011231,0.039204,very low - upper,very low - upper,low - lower
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2532,100m,50,2021,200,L8,0.304474,0.117987,-0.362410,0.095596,-0.008493,0.085654,low - upper,very low - upper,low - upper
2533,100m,50,2021,300,L8,0.363243,0.140887,-0.404633,0.104943,-0.037691,0.095983,decent - lower,very low - lower,low - upper
2534,100m,50,2022,100,L8,0.284520,0.151310,-0.351652,0.120592,-0.009924,0.102035,low - upper,very low - upper,low - upper
2535,100m,50,2022,200,L8,0.307270,0.146819,-0.366667,0.121289,-0.017265,0.091147,low - upper,very low - upper,low - upper
2536,100m,50,2022,300,L8,0.374419,0.163785,-0.419138,0.130494,-0.048566,0.103100,decent - lower,very low - lower,low - upper

In [4]:
import geopandas as gpd

onehundred_segment_gdf = gpd.read_file('C:\\Users\\gmoor\\Documents\\REVISED CAPSTONE PROJECT\\Data\\first200_aggregate_segments (100meters).gpkg')

In [5]:
onehundred_segment_gdf

,segment_id,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry
0,1-4,1,2007,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762..."
1,1-4,1,2008,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762..."
2,1-4,1,2009,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762..."
3,1-4,1,2010,0.0,97.733578,142.830604,NaN,"LINESTRING (240608.083 4277443.023, 240572.762..."
4,1-4,1,2011,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762..."
...,...,...,...,...,...,...,...,...
731,197-200,50,2018,0.0,7.767510,15.166746,19.583053,"LINESTRING (456542.737 4399236.452, 456448.165..."
732,197-200,50,2019,0.0,7.767510,15.166746,19.583053,"LINESTRING (456542.737 4399236.452, 456448.165..."
733,197-200,50,2020,0.0,7.767510,15.166746,19.583053,"LINESTRING (456542.737 4399236.452, 456448.165..."
734,197-200,50,2021,0.0,7.767510,15.166746,19.583053,"LINESTRING (456542.737 4399236.452, 456448.165..."
735,197-200,50,2022,0.0,7.767510,15.166746,19.583053,"LINESTRING (456542.737 4399236.452, 456448.165..."

In [6]:
# Create duplicates with different buffer sizes
buffer_sizes = [100, 200, 300]
duplicated_dfs = []

for buffer_size in buffer_sizes:
    temp_df = onehundred_segment_gdf.copy()
    temp_df['buffer_size'] = buffer_size
    duplicated_dfs.append(temp_df)

# Concatenate all the duplicated dataframes
duplicated_onehundred_segment_gdf = pd.concat(duplicated_dfs, ignore_index=True)

In [7]:
duplicated_onehundred_segment_gdf[(duplicated_onehundred_segment_gdf['Year'] == 2014) & (duplicated_onehundred_segment_gdf['100m_segment_id'] == 1)]

,segment_id,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size
7,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",100
743,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",200
1479,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",300

In [8]:
onehundred_segment_combined_df = pd.merge(
    duplicated_onehundred_segment_gdf,
    onehundred_features_df,
    left_on=['100m_segment_id', 'Year', 'buffer_size'],
    right_on=['segment_id', 'year', 'buffer_size']
)

onehundred_segment_combined_df.head()

,segment_id_x,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size,segment_type,...,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
0,1-4,1,2007,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L7,0.137357,0.065126,-0.151509,0.058490,-0.034694,0.035111,low - lower,very low - upper,low - lower
1,1-4,1,2008,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L7,0.089838,0.060953,-0.110089,0.058429,-0.005116,0.028659,very low - upper,very low - upper,low - lower
2,1-4,1,2009,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L7,0.126385,0.078132,-0.151369,0.070265,-0.028157,0.042042,low - lower,very low - upper,low - lower
3,1-4,1,2010,0.0,97.733578,142.830604,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L7,0.131454,0.076573,-0.155024,0.068975,-0.032685,0.041611,low - lower,very low - upper,low - lower
4,1-4,1,2011,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L7,0.134024,0.081698,-0.157169,0.074240,-0.040817,0.046034,low - lower,very low - upper,low - lower

In [9]:
onehundred_segment_combined_df.describe()

,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,buffer_size,segment_id_y,year,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std
count,2132.000000,2132.000000,2132.000000,2132.000000,1793.000000,1655.000000,2132.000000,2132.000000,2132.000000,2132.000000,2132.000000,2132.000000,2132.000000,2132.000000,2132.000000
mean,26.193246,2014.694653,0.001407,33.107940,52.521209,57.609353,200.046904,26.193246,2014.694653,0.217603,0.085448,-0.254525,0.073994,-0.005651,0.066878
std,14.475345,4.573002,0.037494,21.204567,45.051157,43.987108,81.659223,14.475345,4.573002,0.139517,0.053795,0.149844,0.045642,0.058278,0.035860
min,1.000000,2007.000000,0.000000,7.230170,15.166746,16.151279,100.000000,1.000000,2007.000000,-0.134751,0.000000,-0.528328,0.000000,-0.189578,0.000000
25%,15.000000,2011.000000,0.000000,15.474269,16.684059,20.221550,100.000000,15.000000,2011.000000,0.104291,0.039493,-0.397104,0.037102,-0.040088,0.038508
50%,26.000000,2015.000000,0.000000,43.397915,46.782964,50.912500,200.000000,26.000000,2015.000000,0.217888,0.075228,-0.279360,0.064962,0.002122,0.060822
75%,38.000000,2019.000000,0.000000,43.461173,47.126394,62.693722,300.000000,38.000000,2019.000000,0.342982,0.124932,-0.126578,0.108228,0.032022,0.092999
max,50.000000,2022.000000,1.000000,142.830604,205.658027,186.977412,300.000000,50.000000,2022.000000,0.545714,0.280722,0.006141,0.295759,0.265989,0.259346

In [10]:
onehundred_segment_combined_df[(onehundred_segment_combined_df['Year'] == 2014) & (onehundred_segment_combined_df['100m_segment_id'] == 1)]

,segment_id_x,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size,segment_type,...,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
7,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,L8,0.273896,0.164199,-0.332985,0.142192,-0.067166,0.08358,low - upper,very low - upper,low - lower
717,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",200,100m,...,L8,0.272314,0.151866,-0.343256,0.130502,-0.058223,0.09068,low - upper,very low - upper,low - lower
1428,1-4,1,2014,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",300,100m,...,L8,0.269536,0.154960,-0.335823,0.135610,-0.058411,0.09226,low - upper,very low - upper,low - lower

In [11]:
twohundred_features_df = features_df[features_df['segment_type'] == '200m']

twohundred_features_df

,segment_type,segment_id,year,buffer_size,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
890,200m,1,2007,200,L7,0.144580,0.061100,-0.161647,0.054998,-0.042333,0.043305,low - lower,very low - upper,low - lower
891,200m,1,2007,300,L7,0.136496,0.063407,-0.154768,0.056839,-0.036646,0.046525,low - lower,very low - upper,low - lower
892,200m,1,2007,400,L7,0.129165,0.065780,-0.147700,0.058185,-0.029745,0.049809,low - lower,very low - upper,low - lower
893,200m,1,2008,200,L7,0.095888,0.060096,-0.118645,0.058183,-0.011779,0.038649,very low - upper,very low - upper,low - lower
894,200m,1,2008,300,L7,0.090837,0.062587,-0.113742,0.059952,-0.009518,0.043356,very low - upper,very low - upper,low - lower
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3099,200m,25,2021,300,L8,0.371926,0.146236,-0.410254,0.107261,-0.042540,0.102290,decent - lower,very low - lower,low - upper
3100,200m,25,2021,400,L8,0.405604,0.151734,-0.433184,0.107119,-0.057963,0.108778,decent - lower,very low - lower,low - lower
3101,200m,25,2022,200,L8,0.316048,0.152648,-0.374345,0.124995,-0.023364,0.095899,low - upper,very low - upper,low - upper
3102,200m,25,2022,300,L8,0.384971,0.170127,-0.426140,0.134250,-0.053961,0.109342,decent - lower,very low - lower,low - lower
3103,200m,25,2022,400,L8,0.422370,0.174462,-0.452960,0.133336,-0.068021,0.118126,decent - lower,very low - lower,low - lower

In [12]:
import geopandas as gpd

twohundred_segment_gdf = gpd.read_file('C:\\Users\\gmoor\\Documents\\REVISED CAPSTONE PROJECT\\Data\\first80_aggregate_segments (200meters).gpkg')

In [13]:
twohundred_segment_gdf

,segment_id,200m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry
0,1-8,1,2007,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644..."
1,1-8,1,2008,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644..."
2,1-8,1,2009,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644..."
3,1-8,1,2010,0.0,97.762742,142.823867,NaN,"LINESTRING (240608.083 4277443.023, 240538.644..."
4,1-8,1,2011,0.0,23.277344,97.762742,142.823867,"LINESTRING (240608.083 4277443.023, 240538.644..."
...,...,...,...,...,...,...,...,...
107,73-80,10,2018,0.0,43.412906,47.037893,50.636979,"LINESTRING (454296.138 4470350.777, 454479.025..."
108,73-80,10,2019,0.0,43.412906,47.037893,50.636979,"LINESTRING (454296.138 4470350.777, 454479.025..."
109,73-80,10,2020,0.0,43.412906,47.037893,50.636979,"LINESTRING (454296.138 4470350.777, 454479.025..."
110,73-80,10,2021,0.0,43.412906,47.037893,50.636979,"LINESTRING (454296.138 4470350.777, 454479.025..."
111,73-80,10,2022,0.0,43.412906,47.037893,50.636979,"LINESTRING (454296.138 4470350.777, 454479.025..."

In [14]:
# Create duplicates with different buffer sizes
buffer_sizes = [200, 300, 400]
duplicated_dfs = []

for buffer_size in buffer_sizes:
    temp_df = twohundred_segment_gdf.copy()
    temp_df['buffer_size'] = buffer_size
    duplicated_dfs.append(temp_df)

# Concatenate all the duplicated dataframes
duplicated_twohundred_segment_gdf = pd.concat(duplicated_dfs, ignore_index=True)

In [15]:
duplicated_twohundred_segment_gdf[(duplicated_twohundred_segment_gdf['Year'] == 2007) & (duplicated_twohundred_segment_gdf['200m_segment_id'] == 1)]

,segment_id,200m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size
0,1-8,1,2007,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",200
112,1-8,1,2007,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",300
224,1-8,1,2007,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",400

In [16]:
twohundred_segment_combined_df = pd.merge(
    duplicated_twohundred_segment_gdf,
    twohundred_features_df,
    left_on=['200m_segment_id', 'Year', 'buffer_size'],
    right_on=['segment_id', 'year', 'buffer_size']
)

twohundred_segment_combined_df.head()

,segment_id_x,200m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size,segment_type,...,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
0,1-8,1,2007,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L7,0.144580,0.061100,-0.161647,0.054998,-0.042333,0.043305,low - lower,very low - upper,low - lower
1,1-8,1,2008,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L7,0.095888,0.060096,-0.118645,0.058183,-0.011779,0.038649,very low - upper,very low - upper,low - lower
2,1-8,1,2009,0.0,142.823867,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L7,0.137294,0.070367,-0.164393,0.064323,-0.035070,0.045710,low - lower,very low - upper,low - lower
3,1-8,1,2010,0.0,97.762742,142.823867,NaN,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L7,0.141868,0.070306,-0.167541,0.063712,-0.039219,0.045419,low - lower,very low - upper,low - lower
4,1-8,1,2011,0.0,23.277344,97.762742,142.823867,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L7,0.140090,0.072920,-0.165420,0.065653,-0.044245,0.047577,low - lower,very low - upper,low - lower

In [17]:
twohundred_segment_combined_df.describe()

,200m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,buffer_size,segment_id_y,year,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std
count,327.000000,327.000000,327.000000,327.000000,273.000000,252.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000,327.000000
mean,5.623853,2014.651376,0.009174,39.044995,64.188518,70.937429,300.000000,5.623853,2014.651376,0.242964,0.096001,-0.275574,0.084118,-0.028663,0.074692
std,3.238350,4.587345,0.095488,28.967242,44.560548,46.893437,81.774792,3.238350,4.587345,0.136683,0.048010,0.146439,0.040577,0.043015,0.031042
min,1.000000,2007.000000,0.000000,13.668233,15.698211,16.165498,200.000000,1.000000,2007.000000,0.030893,0.009450,-0.529904,0.009714,-0.157824,0.020067
25%,2.000000,2011.000000,0.000000,23.277344,37.610101,37.851428,200.000000,2.000000,2011.000000,0.130634,0.061152,-0.428814,0.057455,-0.057638,0.047047
50%,6.000000,2015.000000,0.000000,37.851428,47.108751,50.636979,300.000000,6.000000,2015.000000,0.227229,0.087551,-0.276497,0.075027,-0.030211,0.072604
75%,9.000000,2019.000000,0.000000,43.425417,96.768087,97.878666,400.000000,9.000000,2019.000000,0.385108,0.140797,-0.147924,0.126817,0.004914,0.101300
max,10.000000,2022.000000,1.000000,142.823867,205.433000,186.399870,400.000000,10.000000,2022.000000,0.495949,0.188787,-0.038787,0.156227,0.085135,0.140865

In [18]:
twohundred_segment_combined_df[(twohundred_segment_combined_df['Year'] == 2014) & (twohundred_segment_combined_df['200m_segment_id'] == 1)]

,segment_id_x,200m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size,segment_type,...,sensor_type,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category
7,1-8,1,2014,0.0,23.277344,97.762742,142.823867,"LINESTRING (240608.083 4277443.023, 240538.644...",200,200m,...,L8,0.279916,0.145667,-0.347670,0.125840,-0.063755,0.087752,low - upper,very low - upper,low - lower
116,1-8,1,2014,0.0,23.277344,97.762742,142.823867,"LINESTRING (240608.083 4277443.023, 240538.644...",300,200m,...,L8,0.260406,0.150407,-0.326137,0.133125,-0.056496,0.089522,low - upper,very low - upper,low - lower
225,1-8,1,2014,0.0,23.277344,97.762742,142.823867,"LINESTRING (240608.083 4277443.023, 240538.644...",400,200m,...,L8,0.245672,0.156174,-0.310659,0.139522,-0.045958,0.092768,low - lower,very low - upper,low - upper

In [19]:
total_segment_combined_df = pd.concat([onehundred_segment_combined_df, twohundred_segment_combined_df], ignore_index=True)

total_segment_combined_df.head()

,segment_id_x,100m_segment_id,Year,roadkill_count,min_dist_1,min_dist_2,min_dist_3,geometry,buffer_size,segment_type,...,ndvi_mean,ndvi_std,ndwi_mean,ndwi_std,ndbi_mean,ndbi_std,ndvi_category,ndwi_category,ndbi_category,200m_segment_id
0,1-4,1.0,2007,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,0.137357,0.065126,-0.151509,0.058490,-0.034694,0.035111,low - lower,very low - upper,low - lower,NaN
1,1-4,1.0,2008,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,0.089838,0.060953,-0.110089,0.058429,-0.005116,0.028659,very low - upper,very low - upper,low - lower,NaN
2,1-4,1.0,2009,0.0,142.830604,NaN,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,0.126385,0.078132,-0.151369,0.070265,-0.028157,0.042042,low - lower,very low - upper,low - lower,NaN
3,1-4,1.0,2010,0.0,97.733578,142.830604,NaN,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,0.131454,0.076573,-0.155024,0.068975,-0.032685,0.041611,low - lower,very low - upper,low - lower,NaN
4,1-4,1.0,2011,0.0,23.246441,97.733578,142.830604,"LINESTRING (240608.083 4277443.023, 240572.762...",100,100m,...,0.134024,0.081698,-0.157169,0.074240,-0.040817,0.046034,low - lower,very low - upper,low - lower,NaN

In [21]:
total_segment_combined_df.to_csv('first200_final_output_nonormalization_REVISED.csv', index=False, date_format=None)

In [43]:
total_segment_combined_df.to_excel('first80_final_output_nonormalization.xlsx', index=False)